webdriver-manager
python-dotenv
selenium
lxml
pywinauto
langchain
langchain-ollama
langchain-chroma
chromadb
nltk
scikit-learn
beautifulsoup4
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
fastapi
uvicorn[standard]
pydantic
sqlite-utils